- var d = 0;
- var c = 0;
- var w = 0;
- var v = 0;
- var wcount = 8;

- var data=['3', '1', '2', '9', '9', '0', '2', '6', '4', '8', '0', '4', '5', '3', '5', '2', '5', '6', '0', '8', '0', '6', '7', '3', '5', '6', '6', '7', '9', '0', '8', '1', '6', '4', '7', '0', '9', '7', '9', '8', '1', '3', '7', '3', '8', '4', '2', '3', '1', '1', '4', '2', '7', '1', '8', '5', '5', '4', '2','9']

- var data=['ｷ', 'ﾆ', 'ﾜ', 'ﾒ', 'ｼ', 'ｻ', 'ﾘ', 'ｳ', 'ｳ', 'ﾗ', 'ｵ', 'ｻ', 'ｴ', 'ｱ', 'ｵ', 'ｾ', 'ﾊ', 'ｹ', 'ｰ', 'ﾃ', 'ｷ', 'ｼ', 'ﾋ', 'ﾍ', 'ﾑ', 'ﾕ', 'ﾑ', 'ｹ', 'ｽ', 'ﾏ', 'ﾗ', 'ﾓ', 'ﾋ', 'ﾂ', 'ﾃ', 'ﾎ', 'ﾐ', 'ﾐ', 'ｾ', 'ﾀ', 'ﾈ', 'ﾓ', 'ｴ', 'ﾏ', 'ﾈ', 'ﾒ', 'ﾊ', 'ﾜ', 'ﾂ', 'ｰ', 'ｶ', 'ﾘ', 'ｱ', 'ﾆ', 'ﾅ', 'ﾇ', 'ﾅ', 'ﾎ', 'ｶ', 'ﾕ']
.walls
    while w < wcount
        -w++
         - wi = (wcount / 2 * -1) + w
        .wall(style="--wi:" + wi)
            -c = 0
            while c < 30
                - c++
                .column
                    -v = 0
                    while v < 2
                        .variant
                            -v++
                            - d=0
                            while d < 30
                                - d++
                                .drop=data[d]

