@charset "UTF-8";
:root {
  --color-primary: #ee75d2;
  --color-secondary: #75d8ee;
  --color-tertiary: #deee75;
  --color-quaternary: #9375ee;
  --color-bg: #0f021f;
}

@property --duration {
  syntax: "<time>";
  inherits: true;
  initial-value: 0s;
}
@property --wall-random {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.walls {
  height: 100vh;
  width: 100vw;
  position: relative;
  perspective: 800px;
  --duration: 18s;
}

.wall {
  transform-style: preserve-3d;
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: minmax(1rem, auto);
  grid-auto-flow: column;
  gap: 1rem;
  transform: translate3d(calc(var(--wi) * var(--wall-random) * 10rem), 0, calc(6rem * var(--wi)));
}
.wall:first-child {
  filter: blur(2rem);
}
.wall:nth-child(2) {
  filter: blur(1rem);
}
.wall:last-child {
  filter: blur(3rem);
}
.wall:nth-child(1) {
  --wall-index: 1;
  --wall-random: 0.8565516817;
}
.wall:nth-child(2) {
  --wall-index: 2;
  --wall-random: 0.9200695288;
}
.wall:nth-child(3) {
  --wall-index: 3;
  --wall-random: 0.4513257975;
}
.wall:nth-child(4) {
  --wall-index: 4;
  --wall-random: 0.4825291994;
}
.wall:nth-child(5) {
  --wall-index: 5;
  --wall-random: 0.9306432934;
}
.wall:nth-child(6) {
  --wall-index: 6;
  --wall-random: 0.1859937402;
}
.wall:nth-child(7) {
  --wall-index: 7;
  --wall-random: 0.7342338039;
}
.wall:nth-child(8) {
  --wall-index: 8;
  --wall-random: 0.5256472516;
}
.wall:nth-child(9) {
  --wall-index: 9;
  --wall-random: 0.0824666428;
}
.wall:nth-child(10) {
  --wall-index: 10;
  --wall-random: 0.0812023784;
}
.wall:nth-child(11) {
  --wall-index: 11;
  --wall-random: 0.110622338;
}
.wall:nth-child(12) {
  --wall-index: 12;
  --wall-random: 0.8784239858;
}
.wall:nth-child(13) {
  --wall-index: 13;
  --wall-random: 0.9309010345;
}
.wall:nth-child(14) {
  --wall-index: 14;
  --wall-random: 0.0776816702;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  gap: 0.25rem;
  height: 100vh;
  transform: translateY(-120vh);
  animation: fall var(--duration) ease-in-out infinite;
  animation-duration: calc(var(--duration) * max(var(--r0), var(--r1), var(--r2)));
  animation-delay: calc(var(--wall-random) * var(--r0) * 10s);
}
.column:nth-child(1) {
  --r0: 0.9654070615;
  --r1: 0.3328056686;
  --r2: 0.1941313239;
}
.column:nth-child(2) {
  --r0: 0.0105707583;
  --r1: 0.9698311025;
  --r2: 0.9512746378;
}
.column:nth-child(3) {
  --r0: 0.4442407298;
  --r1: 0.550629584;
  --r2: 0.7396464646;
}
.column:nth-child(4) {
  --r0: 0.0171471644;
  --r1: 0.0431640292;
  --r2: 0.2649659276;
}
.column:nth-child(5) {
  --r0: 0.0380341898;
  --r1: 0.7646692319;
  --r2: 0.1674928519;
}
.column:nth-child(6) {
  --r0: 0.4710863607;
  --r1: 0.4497864462;
  --r2: 0.6406578644;
}
.column:nth-child(7) {
  --r0: 0.6086739829;
  --r1: 0.6373682762;
  --r2: 0.2627052645;
}
.column:nth-child(8) {
  --r0: 0.0363381031;
  --r1: 0.629505674;
  --r2: 0.5769094507;
}
.column:nth-child(9) {
  --r0: 0.9058818683;
  --r1: 0.3630422381;
  --r2: 0.1658845625;
}
.column:nth-child(10) {
  --r0: 0.0418173584;
  --r1: 0.1075040615;
  --r2: 0.6726260241;
}
.column:nth-child(11) {
  --r0: 0.2997815126;
  --r1: 0.6269252505;
  --r2: 0.0667091598;
}
.column:nth-child(12) {
  --r0: 0.7329177403;
  --r1: 0.7870725877;
  --r2: 0.6084145201;
}
.column:nth-child(13) {
  --r0: 0.2584267823;
  --r1: 0.815398096;
  --r2: 0.9646159878;
}
.column:nth-child(14) {
  --r0: 0.156416586;
  --r1: 0.1170050889;
  --r2: 0.4897860627;
}
.column:nth-child(15) {
  --r0: 0.309284557;
  --r1: 0.3947768123;
  --r2: 0.3683255261;
}
.column:nth-child(16) {
  --r0: 0.9708194727;
  --r1: 0.9941948761;
  --r2: 0.5067966616;
}
.column:nth-child(17) {
  --r0: 0.7082741108;
  --r1: 0.5493873674;
  --r2: 0.8126984732;
}
.column:nth-child(18) {
  --r0: 0.710679277;
  --r1: 0.9525018641;
  --r2: 0.7172871761;
}
.column:nth-child(19) {
  --r0: 0.8781441768;
  --r1: 0.5989423007;
  --r2: 0.3962568179;
}
.column:nth-child(20) {
  --r0: 0.7434627408;
  --r1: 0.9348291511;
  --r2: 0.1543711976;
}
.column:nth-child(21) {
  --r0: 0.0522932877;
  --r1: 0.3845784926;
  --r2: 0.1554978233;
}
.column:nth-child(22) {
  --r0: 0.2759767255;
  --r1: 0.120351024;
  --r2: 0.8286034523;
}
.column:nth-child(23) {
  --r0: 0.2073649734;
  --r1: 0.6165277266;
  --r2: 0.1076913715;
}
.column:nth-child(24) {
  --r0: 0.0043327899;
  --r1: 0.2914136426;
  --r2: 0.3734437321;
}
.column:nth-child(25) {
  --r0: 0.8446682307;
  --r1: 0.9827407931;
  --r2: 0.7321720835;
}
.column:nth-child(26) {
  --r0: 0.9499820621;
  --r1: 0.8159945834;
  --r2: 0.7070943819;
}
.column:nth-child(27) {
  --r0: 0.3721492204;
  --r1: 0.7827646739;
  --r2: 0.3535911802;
}
.column:nth-child(28) {
  --r0: 0.9150444014;
  --r1: 0.4719547847;
  --r2: 0.3198686556;
}
.column:nth-child(29) {
  --r0: 0.3239945361;
  --r1: 0.5839610414;
  --r2: 0.9020154632;
}
.column:nth-child(30) {
  --r0: 0.689528574;
  --r1: 0.8494642525;
  --r2: 0.4866050581;
}

.variant {
  display: flex;
  flex-direction: column-reverse;
  -webkit-mask: linear-gradient(to bottom, transparent 50%, black);
          mask: linear-gradient(to bottom, transparent 50%, black);
  background: linear-gradient(to bottom, var(--color-secondary) 70%, var(--color-primary) 90%, var(--color-tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.variant:nth-child(2) {
  transform-style: preserve-3d;
  animation: variant 0.2s ease-in-out infinite;
  position: absolute;
  inset: 0;
}

@keyframes variant {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 0.3;
  }
  50% {
    opacity: 0.2;
    transform: translate3d(0.5rem, -1rem, 1rem);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fall {
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  to {
    transform: translateY(2vh);
    opacity: 0;
  }
}
.drop {
  display: grid;
  place-items: center;
}
.drop:first-child {
  position: relative;
}
.drop:first-child:after {
  display: grid;
  place-items: center;
  content: "✨";
  -webkit-text-fill-color: var(--color-primary);
  position: absolute;
  inset: 0;
  z-index: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
  font-family: "Road Rage", "Helvetica Neue", "serif";
  font-weight: bold;
  overflow: hidden;
  background: linear-gradient(to bottom, var(--color-bg), black);
  color: var(--color-primary);
}

a.labs-follow-me {
  left: 2rem;
  right: 2rem;
  bottom: 1rem;
  top: unset;
  text-align: center;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 50rem) {
  :root {
    font-size: 90%;
  }
}/*# sourceMappingURL=style.css.map */